select{
    cursor: pointer;
}
.img1 {

    width: 85%;
    margin-right: 75px;
   
}
img{
    border-radius: 25px;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    
}

.btn{
    background-color: #1143a1;
    color: #fff;
    width: 100px;
    
}
span{
    color: red;
}